.header {
  background-color: rgb(50, 167, 145);
  display: flex;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#name-lastname-section {
  display: flex;
}

#email-house-section {
  display: flex;
}

.family-options {
  display: flex;
  flex-direction: column;
}

.rate-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rate-options {
  display: flex;
  gap: 10px;
}

.agreement-section {
  display: flex;
  gap: 10px;
}

